body {
	margin: 0 auto;
	align:center;
	font-size:100%;
	 background-image: linear-gradient(#A2A5E8 30%, #f767f6);
	background-repeat: no-repeat;
	 background-attachment: fixed;
}

.main{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;

}

#sketch-holder{
 width:100%;
 padding-top : 25px;
 padding-bottom : 25px;
}

#defaultCanvas0{
	width:100%;
	margin-left: auto;
    margin-right: auto;
}


@keyframes nameFadeIn{
  0%  { color: rgba(255,196,108,0.0);}
  100%{ color: rgba(255,196,108,1.0);}
}

.title{
	animation: nameFadeIn 10s cubic-bezier(0.1,0.25,0.1,1) 0s 1 alternate both;;
	font-family: 'Josefin Sans', sans-serif;
	font-size:5em;
	padding:0.5em;
	color:#FFC46C;
	text-align:center;
}

.main p{

	color:rgba(36,27,31, 0.8);
	font-family: 'Raleway';
	font-size: 1em;
	line-height: 2em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	
	margin: 1em 0 4em 0em;
	text-align: left;

	background: rgba(255,255,255,0.1);
}

.contact{
	font-family: 'Josefin Sans';
}

.showcase video{
	width: 100%;
}
.embed{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.embed iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
a {
	color:#ffe437;
}

.showcase p {
	font-size:0.8em;
	text-align:center;

	background: none;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
/*
	body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
 background-image: url('selfiebw.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

	.title{
	font-size:10em;
	}

	.main{
	max-width:100%;

}
   .main p{
   	font-size: 2.5em;
   	line-height: 2em;
}
*/

}